*,
*::before,
*::after{
    box-sizing:border-box;
}
html{
    line-height:1.15;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:blue;
    font-weight: 400;
    background: #ffff;
}
a{
   color:#333;
   font-weight: 400; 
   outline:none;
   text-decoration: none;
   transition:0.5s
}
.container{
    width:100%;
    padding-right:15px;
    padding-left:15px;
    margin-left: auto;
    margin-right: auto;
}
.row{
    display: flex;
    flex-wrap:wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.column{
    position:relative;
    width:100%;
    padding-right: 15px;
    padding-left: 15px;
    flex:0 0 100%;
    max-width:100%;
}
.effect{
    position:relative;
    margin-bottom: 30px;
    overflow:hidden;
}
.effect .effect-img{
    font-size: 0;
    overflow:hidden;
}
.effect .effect-img img{
    width:100%;
    height:auto;
    transition:all 0.3s;
}

@media(min-widht:992px){
    .container{
        max-width:960px;
    }
    .column{
        flex:0 0 33.333%;
        max-width: 33.333%;
    }
}